.App{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: #152a56;
}

.card{
  width: 50vh;
  height: 75vh;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  padding: 50px 80px 100px;
}

.graph {
  height: 75vh;
  width: 50vh;
  outline: 2px dashed black;
}

.input-div {
  text-align: center;
}


.input {
  padding: 6px 0 5px;
  border-radius: 7px;
  margin-right: 5px;
  margin-bottom: 50px;
}


.altchar{
  height: 30vh;
  display: flex;
  justify-content: center;

}
