.app{
  display: flex;
  justify-content: center;
  height: 100vh;
}

body {
  background: #152a56;
}

.card{
  margin-top: 10px;
  width: 30%;
  height: 45vw;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  margin-bottom: 100px;
  padding: 20px 50px 50px;
}

.graph {
  height: 100%;
  /* outline: 2px dashed black; */
}

.input-div {
  text-align: center;
  text-decoration: none;
}

.input {
  padding: 6px 5px 5px;
  border-radius: 7px;
  margin-right: 5px;
  font-style: bold;
  font-size: 16px;
  width: 80px;
  height: 20px;
}

.altchar{
  height: 20vw;
  display: flex;
  justify-content: center;
}

.text {
  font-size: 45px;
}

.azichart {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.svg {
  width: 90%;
}


button {
  background-color:  white; /* Green */
  color: black;
  border: 1px solid black;
  padding: 7px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  border-radius: 10px;
}

.button-div {
  text-align: center;
}